<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Book Card</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null,'add')" >Add Book <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search"
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search book..." required>
    </form>
  </div>
</nav>
<!--table-->

<div class="container" id="main-container">
  <table class="mt-3 table table-striped table-bordered">
    <thead class="thead-dark">
    <tr >
      <th>ID</th>
      <th>Name</th>
      <th>Year</th>
      <th>Genres</th>
      <th>Author Name</th>
      <th>Author Year</th>
      <th>Action</th>
    </tr>
<!--    <tr *ngIf="books?.length == 0">-->
<!--      <td colspan="5">No Records found. Add some...!</td>-->
<!--    </tr>-->
    </thead>


    <tbody>
    <tr *ngFor="let book of books">
      <td >{{book?.idBook}}</td>
      <td >{{book?.nameBook}}</td>
      <td >{{book?.yearBook}}</td>
      <td >{{book?.namesGenre}}</td>
      <td>{{book?.nameAuthor}}</td>
      <td >{{book?.yearAuthor}}</td>
      <td>
        <a (click)="onOpenModal(book, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
        <a (click)="onOpenModal(book, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--add book-->
<div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBookModalLabel">Add Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <form #addForm="ngForm" (ngSubmit)="onAddBook(addForm)">
          <div class="form-group">
            <label for="nameBook">Name</label>
            <input type="text" ngModel name="nameBook" class="form-control" id="nameBook" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="yearBook">Year Book</label>
            <input type="date" ngModel name="yearBook" class="form-control" id="yearBook" placeholder="Year" required>
          </div>
          <div class="form-group">
            <label for="namesGenre">Genres</label>
            <input type="text" ngModel name="namesGenre" class="form-control" id="namesGenre" placeholder="Genres" required>
          </div>
          <div class="form-group">
            <label for="nameAuthor">Name Author</label>
            <input type="text" ngModel name="nameAuthor" class="form-control" id="nameAuthor" placeholder="Name Author" required>
          </div>
          <div class="form-group">
            <label for="yearAuthor">Year AuthorL</label>
            <input type="date" ngModel name="yearAuthor" class="form-control" id="yearAuthor" placeholder="Year Author" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-book-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid"  type="submit" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--edit book-->
<div class="modal fade" id="updateBookModal" tabindex="-1" role="dialog" aria-labelledby="BookEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateBookModalLabel">Edit Book {{editBook?.nameBook}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="idBook">Name</label>
            <input type="text" ngModel="{{editBook?.idBook}}" name="idBook" class="form-control" id="idBook" aria-describedby="emailHelp" placeholder="Id Book">
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{editBook?.nameBook}}" name="nameBook" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
          </div>
<!--          <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id" placeholder="Email">-->
<!--          <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" name="userCode" class="form-control" id="userCode" placeholder="Email">-->
          <div class="form-group">
            <label for="year-Book">Year Book</label>
            <input type="date" ngModel="{{editBook?.yearBook}}" name="yearBook" class="form-control" id="year-Book" placeholder="Year Book">
          </div>
          <div class="form-group">
            <label for="nameGenre">Genres</label>
            <input type="text" ngModel="{{editBook?.namesGenre}}" name="namesGenre" class="form-control" id="nameGenre" placeholder="Genres">
          </div>
          <div class="form-group">
            <label for="nameAuthor">Name Author</label>
            <input type="text" ngModel="{{editBook?.nameAuthor}}" class="form-control" id="phone" name="nameAuthor" placeholder="Name Author">
          </div>
          <div class="form-group">
            <label for="year-Author">Year Author</label>
            <input type="date" ngModel="{{editBook?.yearAuthor}}" name="yearAuthor" class="form-control" id="year-Author" placeholder="Year Author">
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onUpdateBook(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="deleteBookModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Book?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete book {{deleteBook?.nameBook}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteBook(deleteBook?.idBook)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no books -->
<div *ngIf="books?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO BOOKS!</h4>
    <p>No Employees were found.</p>
  </div>
</div>
